<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bird Crap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>739B7FE61DFD90D500A022E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739B80001DFD90D500A022E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>739B800B1DFD90D600A022E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
